*{
    margin: 0;
    padding: 0;
}
.container{
    background: rgb(255, 255, 255);
}

.contenido #where img{
    width: 500px;
} 
 body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Montserrat', sans-serif;
    
}


.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}



.contenedor .contenido{
    grid-column: span 3;

}

.contenedor .footer{
    background: #0072CE; 
    color: #fff;
    grid-column-start: 1;
    grid-column-end: -1;
 }
 #mapa_estonia{
     width: 500px;
 }

 .contenido #where img{
     width: 500px;
 } */

  /* nav a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
nav li {
    display: inline-block;
    width: 18%;
    padding: 5px 10px;
    background-color: #0072CE;
    border: 1px solid #0072CE;
    text-align: center;
    color: #fff;
    
    
}
nav li:hover{
    background-color: #ffffff;
    color: #000000;
}

nav{
    margin-top: 50px;
}


header{
    
    height: 120px;
    display: flex;  
    justify-content: space-between;
    align-items: flex-end;
    gap: 1.5rem;
}
.logo{
    width: 300px;
    height: 100%;
}  */


 form{
    
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#0072CE;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

button{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

button:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	
	resize:none;
	display:block;
}

form input[type="reset"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="reset"]:hover{
	cursor:pointer;
}
#subtitulo{
    display: flex;
    justify-content: center;
}

/* footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 19%, rgba(0,75,136,1) 69%, rgba(0,75,136,1) 100%);
    
} */

.textos{
    
    margin: 200px ;
    display: flex;
    flex-direction: column;
    width:  800px;
}
.textos p{
    padding: 1.5rem;
}
.textos a{
    padding: 1.5rem;
}
.city{
    padding: 2rem;
}
.primera{
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 1.5rem;
    padding: 2rem;
    gap: 2rem;
    
}
h1{
    text-align: center;
}


.footer a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
}


@media screen and (max-width: 768px) {
    .contenedor .contenido{
        grid-column: 1/-1;
    }
    .primera{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        margin: 1.5rem;
        padding: 2rem;
        gap: 2rem; }
    .textos{
        width:  600px;
        text-align: center;
        margin: 0% ;
    }
    
}

@media screen and (max-width: 660px) {
    .contenedor .contenido{
        grid-column: 1/-1;
    }
    .primera{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        margin: 1.5rem;
        padding: 2rem;
        gap: 2rem; }
        #mapa_estonia{
            width: 300px;
        }
    .textos{
        width:  400px;
        text-align: center;
        margin: 0% ;
        position: relative;
        right: 8%;
    }
   
    .logo{
        width: 50%;
    }
    p img{
        transform: scale(0.7);
        position: relative;
        
        right: 38%;
    }
    .footer .redes,
    .footer .legal{
        transform: scale(0.6)
    }
    .logo, .menu{
        transform: scale(0.6);
    }
}
ol p img {
 width: 500px;
} 

/* Animaciones */

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-28 13:49:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-28 14:0:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  




